.main_container {
    display: flex;
    height: max-content;
}
.cta_container {
    padding-top: 4%;
    text-align: center;
    font-family: 'roboto';
    font-weight: 300;
    color: #3B3B3B;
    font-size: 1em;
}
.col_left {
    flex: 1;
}

.noDataImg_container {
    flex: 8;
    height: 20vh;
    align-items: center;
    background-image: url("../MobileImages/NoBudgetData.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}



